
<div class="countries-list">
	<table class="table-minimal">
		<thead>
		<tr>
			<th>Name</th>
			<th>Country Code</th>
			<th>Capital</th>
			<th>Area in km2</th>
			<th>Population</th>
			<th>Continent</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>Afganistan</td>
			<td>AF</td>
			<td>Kabul</td>
			<td>547500</td>
			<td>2912286</td>
			<td>AS</td>
		</tr>
		<tr>
			<td>Afganistan</td>
			<td>AF</td>
			<td>Kabul</td>
			<td>547500</td>
			<td>2912286</td>
			<td>AS</td>
		</tr>
		<tr>
			<td>Afganistan</td>
			<td>AF</td>
			<td>Kabul</td>
			<td>547500</td>
			<td>2912286</td>
			<td>AS</td>
		</tr>
		</tbody>
	</table>
</div>