// All Sass tools and helpers.
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);

body {
	background: whitesmoke;
	font-family: 'Raleway', sans-serif;
	height: 100%;
}

body, html {
	position: relative;
	min-height: 100%;
	height: 100%;
}

.loading {
	position: relative;
	height: 100%;
}

.loading:before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	z-index: 1000;
	background: rgba(255, 255, 255, 1) no-repeat center center;
	background-image: url('../img/245.gif');
}

.page {
	@include outer-container();
	padding: rem(80) 0;
}

.view-wrapper {
	position: relative;
	min-height: 100%;

}

// Intro
.hero {
	$base-border-radius: 3px !default;
	$action-color: #477DCA !default;
	$large-screen: em(860) !default;
	$hero-background-top: #7F99BE;
	$hero-background-bottom: #20392B;
	$hero-color: white;
	$gradient-angle: 10deg;
	$hero-image: '';

	@include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
	background-color: #C0C0C0;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 3em;

	.hero-logo img {
		height: 4em;
		margin-bottom: 1em;
	}

	.hero-inner {
		@include outer-container;
		@include clearfix;
		color: $hero-color;
		margin: auto;
		padding: 3.5em;
		text-align: center;

		.hero-copy {
			text-align: center;

			h1 {
				font-size: 1.6em;
				margin-bottom: 0.5em;

				@include media($large-screen) {
					font-size: 1.8em;
				}
			}

			p {
				font-weight: 200;
				line-height: 1.4em;
				margin: 0 auto 3em auto;

				@include media($large-screen) {
					font-size: 1.1em;
					max-width: 40%;
				}
			}
		}

		button {
			@include button(flat, $action-color);
			padding: 0.7em 1em;
		}
	}
}

// Countries list
.table-minimal {
	$base-border-color: gainsboro !default;
	$base-border-radius: 3px !default;
	$base-background-color: white !default;
	$base-line-height: 1.5em !default;
	$base-spacing: 1.5em !default;
	$action-color: #477DCA !default;
	$base-link-color: $action-color !default;
	$dark-gray: #333 !default;
	$light-gray: #DDD !default;
	$medium-screen: em(640) !default;
	$large-screen: em(860) !default;
	$base-font-color: $dark-gray !default;
	$table-border-color: $base-border-color;
	$table-border: 1px solid $table-border-color;
	$table-background: $base-background-color;
	$table-header-background: lighten($table-background, 10);
	$table-hover-background: darken($table-background, 2);
	$table-stripe-background: darken($table-background, 4);
	$table-stripe-background-hover: darken($table-stripe-background, 5);
	$table-padding: .75em 1em;

	border-collapse: separate;
	border-spacing: 0;
	width: 100%;

	tbody {
		tr:hover > td, tr:hover > th {
			background-color: $table-hover-background;
		}
		tr:first-child td {
			border-top: 2px solid $table-border-color;
		}
	}

	thead {
		th {
			background-color: $table-header-background;
			border-bottom: 0px;
			padding: $table-padding;
			text-align: left;
		}
	}

	tbody {
		background-color: $table-background;

		td {
			border-bottom: 0px;
			border-top: 1px solid $table-border-color;
			line-height: $base-line-height;
			padding: $table-padding;

			button {
				@include button(flat, $action-color);
				display: inline-block;
				font-size: .7em;
				line-height: $base-line-height;
				margin-bottom: .3em;
				margin-right: 0.5em;
				outline: none;
				padding: .3em 1em;
				width: 100%;

				@include media($medium-screen) {
					margin-bottom: 0;
					width: auto;
				}
			}
		}
	}
}

// Country detail
.country-detail {
	@include outer-container;
}

.country-detail-inner {
	width: 65.88078%;
	margin: 0 auto;
	background: #fff;
	padding: rem(20) rem(30);
	h2 {
		text-align: center;
		font-size: rem(30);
	}
}

.country-detail-image {

	.map {
		@include span-columns(6);
	}
	.flag {
		@include span-columns(6);
		@include omega();
	}
}

.button-wrapper {
	text-align: center;
	padding: rem(30) 0;
	ul li {
		display: inline-block;
	}
}

// Buttons
.button {
	display: inline-block;
	-webkit-transition: all 0.15s ease-out 0s;
	-moz-transition: all 0.15s ease-out 0s;
	transition: all 0.15s ease-out 0s;
	background: #40a9b8;
	border-radius: 6px;
	color: white;
	display: inline-block;
	font-size: 0.875em;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 1em;
	padding: rem(15) rem(25);
	text-align: center;
	text-transform: uppercase;
	&:hover {
		background: #257D8B;
		color: #FFF;
	}
}

.animate-view {
	&.ng-enter, &.ng-leave {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	/* when hiding the thing */
	&.ng-leave {
		@include animation-duration(0.2s);
		@include animation-fill-mode(both);
		@include animation-name(fadeOut);
	}
	/* when showing the thing */
	&.ng-enter {
		@include animation-duration(0.6s);
		@include animation-fill-mode(both);
		@include animation-name(fadeIn);
	}
}

/* ANIMATIONS (FROM ANIMATE.CSS) */
@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

table.tableSection {
	display: table;
	width: 100%;

	thead, tbody {
		float: left;
		width: 100%;
	}
	tbody {
		overflow: auto;
		height: rem(400);
	}
	thead {
		padding-right: rem(15);
	}
	tr {
		width: 100%;
		display: table;
		text-align: left;
	}
	th, td {
		width: 16.666667%;
	}

}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


