
<!-- Country Detail -->
<div class="country-detail">
	<div class="country-detail-inner">


		<h2>USA</h2>

		<div class="country-detail-image">
			<div class="map">
				<figure>
					<img src="http://placehold.it/400x300" alt="" />
				</figure>
			</div>
			<div class="flag">
				<figure>
					<img src="http://placehold.it/400x300" alt="" />
				</figure>
			</div>
		</div>

		<table class="">
			<tbody>
			<tr>
				<td>Population of Country</td>
				<td>313000000</td>
			</tr>
			<tr>
				<td>Area</td>
				<td>9147000 square km</td>
			</tr>
			<tr>
				<td>Capital</td>
				<td>Washington DC</td>
			</tr>
			<tr>
				<td>Population of Capital</td>
				<td>632.233</td>
			</tr>
			<tr>
				<td>3 neighbors</td>
				<td><a href="">Canada</a>, <a href="">Cuba</a>, <a href="">Mexico</a></td>
			</tr>
			</tbody>
		</table>
	</div>

</div>